agent_workflow.json
{
  "name": "DD-Kart Active Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        -48
      ],
      "id": "b0adba85-6c0a-4335-be0e-fcbdd841adcb",
      "name": "Telegram Trigger",
      "webhookId": "fb6eb8da-3632-4137-bcd8-f74d38a11321",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "nN0d4QUEvxmkNQlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "ddkart-knowledge",
          "mode": "list",
          "cachedResultName": "ddkart-knowledge"
        },
        "prompt": "={{ $json.message.text }}",
        "topK": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -352,
        -48
      ],
      "id": "d4ed5884-aa87-4ace-a0d2-09cb32f0877f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "eUJLa7AAUtyX5cmN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        208
      ],
      "id": "a347a9f1-589b-499c-a5c2-017f01e9c2e3",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UsfuLzSRhRMJsynV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ecdb2d6d-6c1d-4179-9134-679413ced6b1",
              "leftValue": "={{ $json.score }}",
              "rightValue": 0.6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -48
      ],
      "id": "81c6f1e3-9420-49e1-9a7c-0bf0d37c2a73",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "I'm not sure. Calling for human help...@Dibyajyoti",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        240
      ],
      "id": "acfc5070-cffd-4a05-a154-70ee9e73d91c",
      "name": "Send a text message",
      "webhookId": "7e174309-edf2-4b89-8e5f-2045300536ce",
      "credentials": {
        "telegramApi": {
          "id": "nN0d4QUEvxmkNQlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        112
      ],
      "id": "7a22258e-5ece-42ef-8eb8-dcbeec39725b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UsfuLzSRhRMJsynV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful DD-Kart support agent.\nAnswer using ONLY this context:\n{{ $('Pinecone Vector Store').item.json.document.pageContent }}\n\nUser Question:\n{{ $('Telegram Trigger').item.json.message.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        240,
        -64
      ],
      "id": "59439555-4701-4627-8fc5-5b5764580ab7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -64
      ],
      "id": "ce91a9c2-2922-461e-ae09-cab4d0f195ec",
      "name": "Send a text message1",
      "webhookId": "02049247-0651-4f84-9d60-8bb2193c2e17",
      "credentials": {
        "telegramApi": {
          "id": "nN0d4QUEvxmkNQlv",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "369ff631-891e-4263-8d6d-a3cd2c30dacb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52974373d296b0b59e8f29be2b791727390ad25f390d035944737213395ba460"
  },
  "id": "f7DEjuAYzUMMlKl6",
  "tags": []
}