trainer_workflow.json
{
  "name": "DD-Kart Trainer",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "userIds": "1096953285"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fce8f686-7a3c-416d-ab16-af2ebee95605",
      "name": "Telegram Trigger",
      "webhookId": "655d5fab-a5bb-4a9c-8c46-b7f6fba1e6d8",
      "credentials": {
        "telegramApi": {
          "id": "nN0d4QUEvxmkNQlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53e684ec-6f8c-47af-88bc-51f6b5122f5c",
              "leftValue": "={{ $json.message.reply_to_message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "3b533fdd-20e7-4ccb-98f4-6faf173a8da0",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21c65f4c-f884-4a49-b242-be2adbd8dc32",
              "name": "new_question_answer",
              "value": "=Q: {{ $json.message.reply_to_message.text }}\nA: {{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "ad94987f-4408-42b1-9008-a48a2ab1e8e3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ddkart-knowledge",
          "mode": "list",
          "cachedResultName": "ddkart-knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        -96
      ],
      "id": "138ea856-acf0-4968-859d-b4299bd1638c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "eUJLa7AAUtyX5cmN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        112
      ],
      "id": "4ce391e3-e0e4-48dc-af55-8ffbcfc42659",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UsfuLzSRhRMJsynV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        112
      ],
      "id": "2590a37d-866f-4161-b0af-70b55e171680",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0756298-e1a4-4b74-bbc6-f6bd0b9ffa71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52974373d296b0b59e8f29be2b791727390ad25f390d035944737213395ba460"
  },
  "id": "4KAu245KYLWMY5gq",
  "tags": []
}